<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sxu.trackerlibrary">
    <application>
        <!--<service android:name=".ExitService"-->
            <!--android:stopWithTask="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.sxu.trackerlibrary.ExitService" />-->
            <!--</intent-filter>-->
        <!--</service>-->
    </application>
</manifest>
